* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #2a2e3b;
    color: #edeee8;
}

/* Navbar */
header {
    width: 100%;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar {
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 25px;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    color: #100e0e;
    font-weight: 500;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

/* Home Section */
.home {
    display: flex;
    justify-content: space-around;
    padding: 150px 50px 60px;
}

.home-content h1 {
    font-size: 45px;
}

.home-content span {
    color: #8196f5;
}

.home-content p {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    background: #8196f5;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}

.home-img img {
    width: 280px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Section Titles */
.section-title {
    font-size: 35px;
    text-align: center;
    margin: 70px 0 20px;
}

/* About */
.about-text {
    width: 70%;
    margin: auto;
    font-size: 18px;
    text-align: center;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.skill-card {
    background: rgba(255,255,255,0.5);
    padding: 15px 25px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Projects */
.project-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 50px;
    flex-wrap: wrap;
}

.project-card {
    width: 330px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    text-align: center;
    color: #222;
}

.project-card img {
    width: 100%;
    height: 150px;     
    object-fit: contain; 
    margin-bottom: 10px;
}


.project-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background: #8196f5;
    color: white;
    border-radius: 6px;
    text-decoration: none;
}

/* Contact */
.contact {
    text-align: center;
    padding-bottom: 50px;
}

.social-links a {
    margin: 0 10px;
    color:#9aabed
    text-decoration: none;
    font-weight: 600;
}

/* Footer */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
